@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope';
    background: var(--Dark-Blue, #202733);
    text-align: center;
    height: 667px;
}

header{
    width: 104px;
    height: 15px;
    margin-top: 40px;
    margin-left: 120px;
}
.container{
    width: 343px;
height: 315px;
border-radius: 10px;
background: var(--Dark-Grayish-Blue, #313A48);
box-shadow: 30px 50px 80px 0px rgba(0, 0, 0, 0.10);
margin-top: 120px;
/* border: 1px solid red; */
}
h1{
    color: var(--Neon-Green, #53FFAA);
font-size: 11px;
font-weight: 800;
letter-spacing: 3.457px;
}
main{
    width: 295px;
    height: 132px;
    /* border: 1px solid white; */
    margin-top: 24px;
    margin-left: 24px;
}
footer{
    /* border:1px solid white; */
    width: 295px;
    height: 71px;
    margin-left: 24px;
    margin-top: 17px;
}
.box{
    display: flex;
    /* flex-direction: row; */
    margin-top: 25px;
    gap: 20px;
    align-items: center;
}
.box img{
    display: flex;
    align-self:center;
}
.line1{
    width: 122px;
   height: 1px ;
   background: #4F5D74;
}
button{
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: none;
    outline: none;
    background-color: #53FFAA;
   position: relative;
 top: 32px;
}
h2{
    color: var(--Light-Cyan, #CEE3E9);
font-size: 24px;
font-weight: 800;
letter-spacing: -0.257px;
}